:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-700: #374151;
  --gray-900: #111827;
  --red-600: #dc2626;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 1vmax var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
}

body {
  margin: 0;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-700);
  background-color: #ffffff;
  border: 1px solid var(--gray-200);
}

.btn:hover {
  background-color: var(--gray-100);
  color: var(--blue-700);
}

.btn:focus {
  z-index: 10;
  outline: 2px solid #1d4ed8;
  color: #1d4ed8;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn.left {
  border-radius: 0.375rem 0 0 0.375rem;
}

.btn.right {
  border-radius: 0 0.375rem 0.375rem 0;
}

.btngroup {
  display: inline-flex;
  border-radius: 0.375rem;
  box-shadow: var(--shadow-sm);
}

.checkbox {
  width: 1rem;
  height: 1rem;
  color: var(--blue-600);
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 0.25rem;
}

.checkbox:focus {
  outline: 2px solid var(--blue-600);
}

.checkbox -label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-900);
}

.select {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  color: var(--gray-900);
  font-size: 0.875rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.625rem;
}

.select:focus {
  outline: 1px solid var(--blue-500);
  border-color: var(--blue-500);
}

.textarea {
  display: block;
  padding: 0.625rem;
  width: 100%;
  font-size: 0.875rem;
  color: var(--gray-900);
  background-color: var(--gray-50);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}

.textarea:focus {
  outline: 1px solid var(--blue-500);
  border-color: var(--blue-500);
}

.input-number {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-700);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--gray-300);
  border-radius: 0.25rem;
  transition: all 150ms ease-in-out;
  margin: 0;
}

.input-number:focus {
  background-color: white;
  border-color: var(--blue-600);
  outline: none;
}