@import "tailwindcss";

:root {
  font-size: 1vmax;
}

@layer components {
  .btn {
    @apply
      py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-zinc-900 focus:outline-none bg-white rounded-lg border
      border-zinc-200
      hover:bg-zinc-100 hover:text-blue-700 focus:z-10
      focus:outline-4 focus:outline-zinc-200;
  }

  .checkbox {
    @apply w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-300 rounded focus:outline-blue-500 focus:outline-2;
  }

  .select {
    @apply bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:outline-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

  .input-number {
    @apply
      block w-full px-3 py-1.5 text-base font-normal text-zinc-700 bg-white bg-clip-padding
      border border-solid border-zinc-300 rounded transition ease-in-out m-0
      focus:text-zinc-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
}